<div class="lux-app-container">
  <lux-app-header luxAppTitle="Change Me" luxAppTitleShort="CM" luxUserName="Test" (luxClicked)="router.navigate(['/'])">
    <lux-side-nav>
      <lux-side-nav-header>
        <h3 i18n="@@luxapp.welcome">Willkommen!</h3>
      </lux-side-nav-header>
      <lux-side-nav-item
        luxLabel="Home"
        luxTagId="project-side-nav-item"
        luxIconName="lux-home-1"
        (luxClicked)="router.navigate(['/'])"
      >
      </lux-side-nav-item>
      <lux-side-nav-item
        luxLabel="Profil"
        luxTagId="project-side-nav-item"
        luxIconName="lux-interface-user-single"
        (luxClicked)="router.navigate(['/profil'])"
      >
      </lux-side-nav-item>
      <lux-side-nav-footer>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px" class="lux-mt-3">
          <lux-link-plain luxLabel="Lizenzhinweis" [luxRaised]="true" (luxClicked)="goToLicenseHint()"></lux-link-plain>
        </div>
      </lux-side-nav-footer>
    </lux-side-nav>
  </lux-app-header>

  <lux-app-content luxAriaRoleMainLabel=""></lux-app-content>

  <lux-app-footer luxVersion="0.1"></lux-app-footer>
</div>
