<div class="lux-app-container">
  <lux-app-header luxAppTitle="LUX Blueprint" luxAppTitleShort="LUX" luxUserName="Test" (luxClicked)="router.navigate(['/'])">
    <lux-side-nav>
      <lux-side-nav-header>
        <h3 i18n="@@luxapp.welcome">Willkommen!</h3>
      </lux-side-nav-header>
      <lux-side-nav-item
        luxLabel="Home"
        luxTagId="project-side-nav-item"
        luxIconName="fa-home"
        (luxClicked)="router.navigate(['/'])"
      >
      </lux-side-nav-item>
      <lux-side-nav-item
        luxLabel="Profil"
        luxTagId="project-side-nav-item"
        luxIconName="fa-user"
        (luxClicked)="router.navigate(['/profil'])"
      >
      </lux-side-nav-item>
    </lux-side-nav>
  </lux-app-header>

  <lux-app-content luxAriaRoleMainLabel=""></lux-app-content>

  <lux-app-footer luxVersion="0.1"></lux-app-footer>
</div>
