<div fxShow="false" fxShow.gt-xs="true" fxFlex="15%"></div>
<div fxFlex="auto" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="grid">
  <lux-tile-ac
    luxLabel="Profil"
    luxSubTitle="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    (luxClicked)="router.navigate(['/profil'])"
  >
    <lux-icon luxIconName="lux-cog"></lux-icon>
  </lux-tile-ac>
</div>
<div fxShow="false" fxShow.gt-xs="true" fxFlex="15%"></div>
